@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Olli Sivonen<br />
    <abbr title="Phone">P:</abbr>
    0451023920
</address>

<address>
    <strong>Support:</strong> <a href="mailto:olli@sivonen.fi">olli@sivonen.fi</a><br />
</address>
